<div class="book-imgCon" ng-controller="imgpageCtr">
	<div class="btn-group btn-group-xs">
		<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-th-list"></span></button>
		<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span></button>
	</div>
	<ul class="book-imgUl" bindonce>
		<li ng-repeat="uimg in imgList" img-control img-key="{{uimg.key}}">
			<img bo-src="uimg.url" alt="">
			<a class="book-opration" ng-if="showOprate" ng-click="deleteImage()">
				<span class="glyphicon glyphicon-trash"></span>
			</a>
		</li>
		<li ng-if="unloading">
			<circle></circle>
		</li>
		<li style="border:1px dotted #40B5DB">
			<label class="bk-uploader" for="uploadImg">
				<span class="glyphicon glyphicon-plus" style="top:23px;"></span>
			</label>
		</li>
	</ul>
	<input type="file" class="hide" id="uploadImg" up-loader="myFile"/>
</div>
