<div class="book-manu" menu-over img-length="7">
	<img src="dist/img/mac/Finder.png" title="Finder" width="64px" ng-click="testService2()" id="message" class="folded"/>
    <img src="dist/img/mac/Appstore.png" title="Appstore" width="64px"/>
    <img src="dist/img/mac/Mail.png" title="Mail" width="64px" ng-click="testService()" id="mail" class="folded"/>
    <img src="dist/img/mac/safari.png" title="safari" width="64px"/>
    <img src="dist/img/mac/FaceTime.png" title="FaceTime" width="64px"/>
    <img src="dist/img/mac/AddressBook.png" title="AddressBook" width="64px"/>
    <img src="dist/img/mac/iCalendar.png" title="iCalendar" width="64px"/>
</div>

<canvas id="winCanvas"></canvas>