<div class="layout-login">
	<div class="book-container">
		<div class="book-top">
			<img src="/dist/img/logoBig.png" width="156" height="105" alt="我的angular网站">
			<p class="book-logo-name">
				<span>诸葛茅庐</span>
			</p>
			<p class="book-logo-littlename">
				<span>真实的项目成长记录平台</span>
			</p>
		</div>
		<div class="book-form">
			<form ng-if="!global.isLogin" ng-submit="subForm(useForm.$valid)" name="useForm" novalidate>
				<div class="form-group has-feedback" ng-class="{true:'has-success',false:'has-error'}[!useForm.name.$error.validename]">
					<input class="form-control" placeholder="用户名" type="text" required ng-model="user.name" name="name" validename/>
					<span class="glyphicon glyphicon-ok form-control-feedback" ng-if="useForm.name.$dirty&&!useForm.name.$error.validename"></span>
					<span class="glyphicon glyphicon-remove form-control-feedback" ng-if="useForm.name.$dirty&&useForm.name.$error.validename"></span>
				</div>
				<div class="form-group has-feedback" ng-class="{true:'has-success',false:'has-error'}[useForm.password.$dirty&&useForm.password.$valid]">
					<input class="form-control" placeholder="密码" type="password" required ng-model="user.password" name="password">
					<span class="glyphicon glyphicon-ok form-control-feedback" ng-if="useForm.password.$dirty&&useForm.password.$valid"></span>
					<span class="glyphicon glyphicon-remove form-control-feedback" ng-if="useForm.password.$dirty&&useForm.password.$invalid"></span>
				</div>
				<button type="submit" class="btn btn-default btn-block btn-primary">登录</button>
			</form>
			<div ng-if="global.isLogin">
				<button class="btn btn-default btn-block btn-primary">{{global.user.name}}</button>
			</div>
		</div>
	</div>
</div>